<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>www.jiayoudachu.com</title>
<link href="../styles/email.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
</head>

<body>

<div class="wrapper">

<div class="Textinfo">
<div class="n1">Newsletter <b>Sign Up</b></div>
<div class="n2">Want to keep up to date with all our latest news and information?
Enter your email below to be added to our mailing list.</div>

</div>
<div style = "margin-left:230px;">
    <a href="${activeUrl}/${userId}" class="email" >
        <input type="submit" class="addemail" value="Sign Up" />
    </a>
</div>
<div class="copyright">

We will not sell/rent your email address<br />
© 2017 weixin: tj1907, QQ – 1377217465 | E-mail: sc@chinaz.com

</div>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>

